
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: none;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.dark-blue {
    color: #0077b6;
}

.grey {
    color: #adb5bd;
}


.orange {
    color: #ff5400;
}


.sidebar {
    transition: all 0.2s ease-in-out;
    position: fixed;
    text-align: left;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background:#0C548A;
    display: block;
}
.links a {
    display: block;
    padding: 17px 12px;
    font-size: 22px;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.links a:hover {
    transition: all 0.2s ease-in-out;
    background: #0077b6;
    font-size: 23px;
}

    .active {
        left: 0px;
    }



.sidebar .menu-btn {
    position: absolute;
    top: 10px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar .menu-btn span {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 28px;
    height: 3px;
    background: #ff5400;
    transform: translateY(-50%);
}

.sidebar.active .menu-btn span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.sidebar.active .menu-btn span:nth-child(2) {
    display: none;
}

.sidebar.active .menu-btn span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.sidebar.active {
    left: 0px;
}

.short {
    width: 24px;
    top: 9px;
}

.shorter {
    width: 20px;
    top: 18px;
}

.header-area {
    background: url('https://thumbs.gfycat.com/AdorableLonelyAiredaleterrier-size_restricted.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-area h1 {
    color: white;
    font-size: 80px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
             0px -5px 35px rgba(255,255,255,0.3);
    animation-name: textAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes textAnimation {
    0% {
        font-size: 75px;
        color: white;
    }
    50% {
        font-size: 80px;
        color: #ff5400;
    }
    100% {
        font-size: 75px;
        color: white;
    }
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

main h3 {
    font-size: 40px;
    color:#0C548A;
}

.list-saving-ways {
    background-color:#0C548A;
    width: 60%;
}

.list-saving-ways h3 {
    color:#ff5400;
    text-align: center;
}

main ol li {
    font-size: 25px;
    text-align: center;
    margin-bottom: 0.3rem;
    color: white;
    list-style-type: decimal;
}

iframe {
    margin: 5rem auto;
}

.title {
    font-size: 25px;
    color:#0077b6;
    margin-top: 1rem;
}

.programs {
    width: 90%;
    text-align: center;
}

.program-desc {
    text-align: left;
    margin: 1rem auto;
}

.credits {
    text-align: center;
    font-size: 13px;
}

.credits a {
color: black;
display: block;
color: blue;
margin-bottom: 0.2rem;
}

footer ul {
    margin-left: 1rem;
}

footer ul li {
    list-style-type: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0077b6;
    }

.footer .footer-one {
    margin-left: 10px;
    margin-top: 10px;
}

.footer-one h3 {
    color: white;
    font-size: 40px;
    padding: 10px;
}

.footer-one p {
    color: #ffc971;
    padding: 10px;
}



    .footer-links {
    margin-top: 10px;
    }

ul li a {
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

ul li a:hover {
    color: #ff5400;
}

@media only screen and (max-width: 600px) {
    .header-area {
        height: 30vh;
    }

    .header-area h1 {
        text-align: center;
        color: white;
        font-size: 40px;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
             0px -5px 35px rgba(255,255,255,0.3);
        animation-name: textAnimation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes textAnimation {
        0% {
            font-size: 35px;
            color: white;
        }
        50% {
            font-size: 40px;
            color: #ff5400;
        }
        100% {
            font-size: 35px;
            color: white;
        }
    }

    .list-saving-ways {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 60%;
    }
  }